@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.9rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02em;
  isolation: isolate;
  background:
    radial-gradient(
      circle at 76% 89%,
      var(--color-blue-100) 0%,
      transparent 20%
    ),
    radial-gradient(
      circle at 47% 34%,
      var(--color-sky-200) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 8% 86%,
      var(--color-indigo-100) 0%,
      transparent 50%
    ),
    var(--color-sky-50);
}

@theme {
  --color-foreground: var(--color-slate-900);
  --color-primary: var(--color-blue-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-blue-100);
  --color-secondary-foreground: var(--color-slate-800);
  --color-secondary-hover: var(--color-blue-200);
  --color-destructive: var(--color-red-500);
  --border-width-3: 3px;
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-slate-900);
  --color-muted-foreground: var(--color-slate-500);
  --color-border: var(--color-slate-200);
  --color-ring: var(--color-slate-800);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border selection:bg-primary selection:text-primary-foreground;
  }
  body {
    @apply text-foreground;
  }
}
